# Ritchie Lab configure.ac template

AC_PREREQ(2.59)
AC_INIT(<project>, <version>, software@ritchielab.psu.edu)

# Checks for --enable-debug added
AX_CHECK_ENABLE_DEBUG

AC_PROG_CC
AC_PROG_CPP
AC_PROG_CXX

RL_CONFIGURE([<Boost Version>],[<Includes Required>])

AM_INIT_AUTOMAKE([1.8 foreign])

AC_CONFIG_SRCDIR([<any cpp file>])
AC_CONFIG_HEADER([config.h])


AC_CONFIG_FILES([Makefile
                 <subdirs>/Makefile
                 <other Makefiles>
                ])
AC_OUTPUT
