# Ritchie Lab configure.ac template

AC_PREREQ(2.59)
AC_INIT(<project>, <version>, software@ritchielab.psu.edu)

AM_INIT_AUTOMAKE([1.8 foreign])

AC_CONFIG_SRCDIR([<any cpp file>])
AC_CONFIG_HEADER([config.h])

RL_CONFIGURE([<Boost Version>],[<Includes Required>])

AC_CONFIG_FILES([Makefile
                 <subdirs>/Makefile
                 <other Makefiles>
                ])
AC_OUTPUT
