############################
# Biobin configuration options
############################

# The location of the database
settings-db = knowledge.bio

# The file containing VCF information
vcf-file = test_vcf.vcf

# Flag indicating VCF file is compressed
compressed-vcf = N

# The maximum minor allele frequency to consider eligible for bin inclusion
maf-cutoff = 0.05

# Flag indicating to keep data pertaining to common variants (turn off to save memory)
keep-common-loci = Y

# A list of filenames containing a group collection definition
#add-group

# The delimiter to use when outputting text files
output-delimiter = ,

# Filename containing phenotype information
phenotype-filename = test_phenotype.phe

# The minimum size of any bin
bin-minimum-size = 2

# The size above which bins are expanded into child bins, if possible
bin-expand-size = 50

# Flag indicating to expand bins into exons/intron regions
bin-expand-roles = N

# Flag indicating desire to filter by unknown role
filter-bin-role = N

# When filtering by bin role, if true, keep only unknown role bins, if false, drop unknown role bins
keep-unknown-role = N

# Flag indicating not to include pathways in the analysis
bin-pathways = N

# Flag indicating not to include genes in the analysis
bin-regions = Y

# Flag indicating not to include intergenic bins in the analysis
bin-interregion = Y

# Number of kilobases intergenic bins can hold
interregion-bin-length = 50

# A prefix to give to all of the reports
report-prefix = region_analysis

# Flag indicating desire to write locus report
report-loci = Y

# Flag indicating desire to write bin report
report-bins = Y

# Flag indicating desire to write genotype report
report-genotypes = N

# Flag indicating desire to write Case v. Control Minor Allele Freq. report
report-locus-freq = N

# Flag indicating desire to write Bin Case v. Control Frequency report
report-bin-freq = N

# Transpose the Bin report (bins on rows)
transpose-bins = N

# Genomic build of input data
genomic-build = 37

# Phenotype control value
phenotype-control-value = 0

# Minimum fraction of population needed for control cases
min-control-frac = 0.125

# Flag indicating determining rarity of variants by both case and control populations
rare-case-control = Y

# Flag indicating desire to determine the major allele by the overall population instead of control
overall-major-allele = Y

# Disease model (additive, dominant, or recessive)
disease-model = additive

############################
# LOKI configuration options
############################

# A list of group IDs to include
#include-groups

# A list of group names to include
#include-group-names

# A file containg a group definition
#include-group-file

# The population to base the gene boundaries on
#population

# The amount to expand the genes by (when using NO-LD)
region-boundary-extension = 0

# A file containing custom regions
region-file = region_file

# A list of source names to include
#include-sources

# A list of source names to exclude
exclude-sources = dbsnp,oreganno,ucsc_ecr,entrez

# A file containing custom roles
#role-file

# Ambiguity mode (strict, resolvable, permissive)
ambiguity = resolvable


